<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col col-md-6">
        <h5 class="card-title">
          {{ 'Province' | abpLocalization }}
        </h5>
      </div>
      <div class="text-end col col-md-6 d-flex justify-content-end">
        <div class="text-lg-end pt-2">
          <button nz-button type="button" (click)="createProvince()">
            <i class="fa fa-plus me-1"></i>
            <span>{{ '::New Province' | abpLocalization }}</span>
          </button>
        </div>
        <div class="text-lg-end pt-2">
          <button nz-button type="button" (click)="openUploadModal()">
            <span nz-icon nzType="upload"></span>
            Import From Excel
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <nz-table
      #provinceTable
      [nzData]="province.items"
      [nzPageSize]="pageSize"
      [nzTotal]="province.totalCount"
      [nzScroll]="{ x: '100%', y: '400px' }"
      [nzPageIndex]="currentPage"
      nzShowPagination="false"
    >
      <thead>
        <tr>
          <th nzWidth="100px">{{ '::Code' | abpLocalization }}</th>
          <th>{{ '::Name' | abpLocalization }}</th>
          <th>{{ '::Name-En' | abpLocalization }}</th>
          <th>{{ '::Level' | abpLocalization }}</th>
          <th nzWidth="200px">{{ '::Actions' | abpLocalization }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of province.items">
          <td>{{ row.code }}</td>
          <td>{{ row.provinceName }}</td>
          <td>{{ row.provinceEnName }}</td>
          <td>{{ '::Enum:ProvinceLevel.' + row.provinceLevel | abpLocalization }}</td>
          <td>
            <!-- Edit button -->
            <button nz-button nzSize="small" nzType="primary" (click)="editProvince(row.id)">
              <i class="fa fa-pencil me-1"></i>
              {{ '::Edit' | abpLocalization }}
            </button>

            <!-- Delete button -->
            <button nz-button nzSize="small" nzDanger (click)="delete(row.id)">
              <i class="fa fa-trash me-1"></i>
              {{ '::Delete' | abpLocalization }}
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <div class="d-flex justify-content-end mt-2 mr-2">
      <nz-pagination
        [nzPageIndex]="currentPage"
        [nzPageSize]="pageSize"
        [nzTotal]="province.totalCount"
        (nzPageIndexChange)="onPageChange($event)"
        [nzShowSizeChanger]="false"
        [nzSize]="'small'"
      ></nz-pagination>
    </div>
  </div>
</div>

<nz-modal
  [(nzVisible)]="isModalOpen"
  [nzTitle]="
    selectedProvince.id ? ('::Edit' | abpLocalization) : ('::New Province' | abpLocalization)
  "
  (nzOnCancel)="closeModal()"
  [nzWidth]="'600px'"
>
  <!-- Modal Content -->
  <div *nzModalContent>
    <form [formGroup]="form" (ngSubmit)="save()">
      <div class="mt-2">
        <label for="code">Code</label><span> * </span>
        <input
          nz-input
          type="number"
          formControlName="code"
          autofocus
          placeholder="Province Code"
          nzSize="large"
        />
      </div>

      <div class="mt-2">
        <label for="provinceName">Name</label><span> * </span>
        <input
          nz-input
          id="provinceName"
          type="text"
          formControlName="provinceName"
          placeholder="Enter District Name"
          nzSize="large"
        />
      </div>

      <div class="mt-2">
        <label for="provinceEnName">English Name</label><span> * </span>
        <input
          nz-input
          id="provinceEnName"
          type="text"
          formControlName="provinceEnName"
          placeholder="Enter District English Name"
          nzSize="large"
        />
      </div>

      <div class="mt-2">
        <label for="provinceLevel">Level</label><span> * </span>
        <nz-select
          id="provinceLevel"
          formControlName="provinceLevel"
          nzPlaceHolder="Select Level"
          class="d-block"
          nzSize
          nzSize="large"
        >
          <nz-option
            *ngFor="let type of provinceLevel"
            [nzValue]="type.value"
            [nzLabel]="'::Enum:ProvinceLevel.' + type.value | abpLocalization"
          ></nz-option>
        </nz-select>
      </div>
    </form>
  </div>

  <!-- Modal Footer -->
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="closeModal()">
      {{ '::Close' | abpLocalization }}
    </button>
    <button nz-button nzType="primary" [disabled]="form.invalid" (click)="save()">
      <i class="fa fa-check mr-1"></i>
      {{ '::Save' | abpLocalization }}
    </button>
  </div>
</nz-modal>

<!-- Upload Modal -->
<nz-modal
  [(nzVisible)]="isUploadModalOpen"
  nzTitle="Import From Excel"
  (nzOnCancel)="closeUploadModal()"
  [nzWidth]="'600px'"
>
  <div *nzModalContent>
    <nz-upload
      [nzHeaders]="{ authorization: 'authorization-text' }"
      [nzAccept]="
        'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel'
      "
      [nzCustomRequest]="customRequest"
      [nzBeforeUpload]="beforeUpload"
    >
      <button nz-button>
        <span nz-icon nzType="upload"></span>
        Upload Excel File
      </button>
    </nz-upload>
    <div class="mt-3">
      <a href="assets/excel_sample/Danh-sách-cấp-tỉnh.xlsx" download>Download Sample Excel File</a>
    </div>
  </div>

  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="closeUploadModal()">
      {{ '::Close' | abpLocalization }}
    </button>
  </div>
</nz-modal>
